<h1>Account</h1>
<div ng-hide="!infoMessage" class="alert alert-success">{{infoMessage}}</div>
<div ng-hide="!error" class="alert alert-danger">{{error}}</div>

<h2>Update</h2>
<div class="well">
    <div class="form-group">
        <label for="displayName">Display Name</label>
        <input type="text" class="form-control" id="displayName" ng-model="identityUpdate.displayName" placeholder="Enter a new display name">
    </div>
    <button ng-click="update();" class="btn btn-default btn-primary">Submit</button>
</div>

<h2>Identity Information</h2>
<div ng-hide="!loadingMessage" class="alert alert-info">{{loadingMessage}}</div>
<div ng-init="populate()" ng-hide="!identityInfo" ng-model="identityInfo" ng-include="'identityInfoTree'"></div>

<script type="text/ng-template" id="identityInfoTree">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-target="#application-panel-{{getHashCode(identityInfo.application)}}">{{identityInfo.application}}</a>
            </h4>
        </div>
        <div id="application-panel-{{getHashCode(identityInfo.application)}}" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="panel-group">
                    <!-- Identity Information -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#identity-panel-{{getHashCode(identityInfo.application)}}">Identity</a>
                            </h4>
                        </div>
                        <div id="identity-panel-{{getHashCode(identityInfo.application)}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>Is Source</dt>
                                    <dd>{{identityInfo.source}}</dd>
                                    <dt>Is Authenticated</dt>
                                    <dd>{{identityInfo.isAuthenticated}}</dd>
                                    <dt>Name</dt>
                                    <dd>{{identityInfo.name}}</dd>
                                    <dt>Authentication Type</dt>
                                    <dd>{{identityInfo.authenticationType}}</dd>
                                    <dt ng-if="identityInfo.roleNames.length > 0">Application Roles</dt>
                                    <dd ng-if="identityInfo.roleNames.length > 0">{{identityInfo.roleNames.join(', ')}}</dd>
                                    <dt ng-if="identityInfo.groupNames.length > 0">Groups</dt>
                                    <dd ng-if="identityInfo.groupNames.length > 0">{{identityInfo.groupNames.join(', ')}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!-- Claims Information -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#claims-panel-{{getHashCode(identityInfo.application)}}">
                                    Claims
                                </a>
                            </h4>
                        </div>
                        <div id="claims-panel-{{getHashCode(identityInfo.application)}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Claim Type</th>
                                            <th>Claim Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="claim in identityInfo.claims">
                                            <td>{{claim.type}}</td>
                                            <td><abbr ng-attr-title="{{claim.remark || undefined}}">{{claim.value}}</abbr></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Related Application Identities Information -->
                    <div class="panel panel-default" ng-if="identityInfo.relatedApplicationIdentities.length > 0">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-target="#related-panel-{{getHashCode(identityInfo.application)}}">
                                    Related Application Identities
                                </a>
                            </h4>
                        </div>
                        <div id="related-panel-{{getHashCode(identityInfo.application)}}" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div ng-repeat="identityInfo in identityInfo.relatedApplicationIdentities" ng-include="'identityInfoTree'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>