<h1>Welcome</h1>
<p class="lead">
    This sample demonstrates modern claims-based identity scenarios for .NET developers, with a particular focus
    on authentication and authorization using
    <a href="http://azure.microsoft.com/en-us/services/active-directory/">Azure Active Directory</a>
    and/or <a href="https://technet.microsoft.com/library/hh831502.aspx">Windows Server Active Directory Federation Services</a>.
</p>
<p class="lead">
    It is based on the <a href="https://github.com/AzureADSamples">official Azure Active Directory samples repository</a>,
    but with the main difference that it contains a single solution to show multiple integrated scenarios instead
    of having multiple separate solutions for each scenario.
</p>
<p class="alert alert-warning lead">
    <b>
        IMPORTANT NOTE: The code in this repository is <i>not</i> production-ready. It serves only to demonstrate the
        main points via minimal working code, and contains no exception handling or other special cases. Refer to the
        official documentation and samples for more information. Similarly, by design, it does not implement any
        caching or data persistence (e.g. to a database) to minimize the concepts and technologies being used.
    </b>
</p>