<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="TodoListDaemonClientId" value="4707dd0f-52f8-4543-a2f0-d45099e54b3f" />
    <add key="TodoListDaemonCertificateName" value="TodoListDaemon" />
    <add key="TodoListWebApiRootUrl" value="https://localhost:44307/" />
    <add key="TodoListWebApiResourceId" value="http://identitysamples/todolistwebapi" />
    <add key="AadTenant" value="identitysamples.onmicrosoft.com" />
  </appSettings>
</configuration>