@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p class="navbar-text">
                    Hello, @Html.ActionLink(User.Identity.Name, "Index", "Account", null, new { @class = "navbar-link" })!
                </p>
            </li>
            <li>
                @Html.ActionLink("Sign Out", "SignOut", "Account")
            </li>
        </ul>
    </text>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign In", "SignIn", "Account")</li>
    </ul>
}