<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="TodoListWpfRedirectUrl" value="wpf://todolistwpf-redirect-uri" />
    <add key="TodoListWpfClientId" value="ed0c2052-3594-4d18-9aa9-7d580187c5e2" />
    <add key="TodoListWebApiRootUrl" value="https://localhost:44307/" />
    <add key="TodoListWebApiResourceId" value="http://identitysamples/todolistwebapi" />
    <add key="AadTenant" value="identitysamples.onmicrosoft.com" />
  </appSettings>
</configuration>